/* User */  
header {
  padding-bottom: 20px;
}

.todolist {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #fff;
  overflow: hidden;
  padding: 30px 40px;
}  

.side-bar {
  .list {
    display: flex;
    align-items: center;
    padding: 7.5px 10px;
  }

  .list:hover{
     background-color: white;
   }
 
 .current {
   background: #fff;
   font-weight: bold;
 }
   
 .list:hover{
   cursor: pointer;
 }
}

.tasks-count {
  padding-left: 5px;
  padding-top: 1px;
  color: $primary-color;
  font-size: 13px;
  font-weight: 400;
}


/*header*/
.user-current-list {
  margin: 10px 0 5px;
}

 